* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    line-height: 1.4;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #001925;
}
#wrapper {
    padding: 30px 75px;
    position: relative;
    background: #042b3e;
    border-top: 50px solid #03a9f4;
    color: #fff;
}
h1 {
    font-size: 30px;
    padding: 10px 0;
    border-bottom: 3px solid #03a9f4;
    margin-bottom: 15px;
}
#todo_input, #add_button,
button {
    cursor: pointer;
}
#add_button {
    height: 55px;
    width: 130px;
    border-radius: 100px;
    border: none;
    color: whitesmoke;
    font-family: sans-serif;
    font-size: 18px;
    background:#03a9f4;
    transition: 0.2s;
}

#add_button:hover,
#add_button:focus {
    background-color: #68c1eb;
}
button {
    height: 25px;
    width: 25px;
    border-radius: 100px;
    border: none;
    color: whitesmoke;
    font-size: 15px;
    background: #f40303;
    transition: 0.2s;
}
#todo_ul {
    list-style: none;
    position: relative;
    display: block;
    margin: 25px 0;
    color: #fff;
}
ul li {
    margin: 10px 0;
}
